color-classes(colors = {white: #FFF, black: #000, gray: #DDD})
  for key, value in colors
    .text-{key}
      color value

    .back-{key}
      background-color value

    .border-{key}
      border 1px solid value
