@require 'mixins/cardinal-generator'

.border-box
  box-sizing border-box

.no-vertical, .no-top
  top 0px

.no-vertical, .no-bottom
  bottom 0px

.no-horizontal, .no-left
  left 0px

.no-horizontal, .no-right
  right 0px

.no-border-spacing
  border-spacing 0

for property in 'margin' 'padding'
  .no-{property}
    cardinal-generator(property, 0px)

  .{property}
    cardinal-generator(property, 1rem)

    &--xsmall
      cardinal-generator(property, .25rem)

    &--small
      cardinal-generator(property, .5rem)

    &--large
      cardinal-generator(property, 1.5rem)

    &--xlarge
      cardinal-generator(property, 2rem)
