.fill
  &, &__vertical
    height 100%
  &, &__horizontal
    width 100%

  &--half
    &, &__vertical
      height 50%
    &, &__horizontal
      width 50%

.clearfix
  overflow auto

.pointer
  cursor pointer

.no-wrap
  white-space nowrap

.no-border
  border none

.overflow-auto
  overflow auto

.overflow-visible
  overflow visible

.ellipsis
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

