cardinal-generator(rule, size)
  &, &__top, &__vertical
    {rule}-top size
  &, &__bottom, &__vertical
    {rule}-bottom size
  &, &__left, &__horizontal
    {rule}-left size
  &, &__right, &__horizontal
    {rule}-right size
