font-face(font-family, basepath)
  @font-face
    font-family font-family
    src url(font-path + basepath + '.eot')
    src url(font-path + basepath + '.eot?#iefix') format('embedded-opentype'),
        url(font-path + basepath + '.otf') format('opentype'),
        url(font-path + basepath + '.ttf') format('truetype'),
        url(font-path + basepath + '.svg#svgFontName') format('svg');
